.user-tag {
  display: block;
  width: inherit;
  height: auto;
  text-align: center;
  margin: 0.3em auto;
}
.user-tag > * {
  font-size: 1.2em;
}
.user-tag .tag-title {
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}
.user-tag .tag-data {
  font-style: italic;
  display: inline-block;
  word-wrap: break-word;
}
